@media (max-width: 1120px) {
  .cabecalho .logo {
    max-width: 190px;
  }

  .selecao__de__personagens {
    flex-direction: column-reverse;
    max-width: 520px;
    margin: 0 auto;
  }

  .personagens {
    margin-top: 30px;
  }

  .lista__de__personagens {
    gap: 9px;
  }

  .personagens img {
    width: 80px;
  }

  .personagem__grande {
    width: 350px;
    height: 350px;
  }

  .descricao__personagem {
    width: 80%;
    font-size: 16px;
    margin: 15px auto;
  }
}
